name: Create Dependency Tree Diagram

on:
  push:
    branches: [ deptree ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-dotnet@v1
      with:
          source-url: https://api.nuget.org/v3/index.json
      env:
          NUGET_AUTH_TOKEN: ${{secrets.NUGET_AUTH_TOKEN}}

    - name: ls
      run: ls ./src/Endpoints.Api/bin/Release/net5.0

    - name: Build project
      run: dotnet build -c Release
      working-directory: ./src/Endpoints.Api

    - name: Generate UML dependencies
      uses: maisiesadler/deptree@0.0.10
      with:
        application-config-location: './applicationconfig.json'
        assembly-location: './src/Endpoints.Api/bin/Release/net5.0/Endpoints.Api.dll'
